<h3>
    Lista de Productos
</h3>
<table class="table align-middle">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product.name) {
            <tr [ngClass]="{'clearance':product.offer}">
                <td><img class="product-img" src="{{product.image}}" alt="Foto ilustrativa"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.type | uppercase }}</td>
                <td>{{ product.price | currency }}</td>
                @if ( product.stock > 0) {
                    <td>{{ product.stock }}</td>
                    <td>
                        <app-input-integer 
                            [(quantity)]="product.quantity" 
                            [max]="product.stock"
                            (maxReached)="maxReached($event)"
                        ></app-input-integer>
                    </td>
                }
                @else {
                    <td>
                        <span class="badge text-bg-warning">Sin Stock</span>
                    </td>
                }
            </tr>
        }
        @empty {
            <tr>
                <td>
                    <span class="badge text-bg-danger">No hay Productos para mostrar...</span>
                </td>
            </tr>
        }
    </tbody>
</table>
